@mixin lists {

  ul,
  ol {
    @include margin-fix;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;

    li {
      @include margin-fix;
      margin-bottom: 1rem;
      margin-top: 1rem;
      max-width: 40rem;

      @media #{$mq-s} {
        font-size: 1.125rem;
      }
    }

    a {
      border-bottom: .0625rem $melon solid;
      color: $melon;
      font-weight: 700;
      transition: border ease-in-out .25s, color ease-in-out .25s;

      &:hover {
        border-color: $gray-dark;
        color: $gray-dark;
      }
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal-leading-zero;
  }
}
