.page-footer {
  align-items: center;
  background-color: $melon;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 3rem 1rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 5rem 3rem;
  }

  &__logo {
    padding: 1rem;
    z-index: 2;

    img {
      height: auto;
      width: 6rem;

      @media #{$mq-s} {
        width: 8rem;
      }

      @media #{$mq-m} {
        width: 10rem;
      }

      @media #{$mq-l} {
        width: 12rem;
      }
    }
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    z-index: 2;

    &__item {
      color: $day;
      margin-right: 1rem;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }

  &__background {
    @include animation-pan;
    background-image: url('../images/topography.png');
    background-size: cover;
    height: 150%;
    left: 0;
    opacity: .25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
