.page-menu {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 30;

  @media #{$mq-s} {
    width: auto;
  }

  @media #{$mq-m} {
    padding: 2rem 4rem;
  }

  &__icon {
    margin-left: auto;

    @media #{$mq-s} {
      margin-left: 2rem;
    }

    @media #{$mq-m} {
      margin-left: 4rem;
    }

    svg {
      color: $melon;
      display: block;
      height: 1.25rem;
      width: 1.25rem;

      @media #{$mq-s} {
        height: 1.75rem;
        width: 1.75rem;
      }
    }
  }

  &__logo {
    height: 1.5rem;
    margin-right: 1rem;

    @media #{$mq-s} {
      margin-right: 2rem;
    }

    @media #{$mq-m} {
      height: 2.5rem;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
