.page-main {
  width: 100%;

  > *:first-child {
    margin-top: -4rem;

    @media #{$mq-s} {
      margin-top: -6rem;
    }

    @media #{$mq-m} {
      margin-top: -8rem;
    }

    @media #{$mq-l} {
      margin-top: -12rem;
    }
  }
}
