.page-header {
  align-items: center;
  background-color: $melon;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 10rem 0 4rem;
  width: 100%;

  @media #{$mq-s} {
    min-height: calc(100vh + 4rem);
    padding: 12rem 0;
  }

  @media #{$mq-m} {
    min-height: calc(100vh + 8rem);
    padding: 12rem 0 16rem;
  }

  @media #{$mq-l} {
    min-height: calc(100vh + 12rem);
    padding: 12rem 0 20rem;
  }

  &__logo {
    align-items: center;
    background-color: rgba($melon, .75);
    box-shadow: 0 0 4rem 4rem rgba($melon, .75);
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;

    img {
      height: auto;
      width: 16rem;

      @media #{$mq-s} {
        width: 20rem;
      }

      @media #{$mq-m} {
        width: 24rem;
      }

      @media #{$mq-l} {
        width: 28rem;
      }
    }

    sub {
      text-align: center;
      width: 16rem;

      @media #{$mq-s} {
        width: 18rem;
      }

      @media #{$mq-m} {
        width: 20rem;
      }

      @media #{$mq-l} {
        width: 22rem;
      }
    }
  }

  &__title {
    align-items: center;
    background-color: rgba($melon, .75);
    box-shadow: 0 0 4rem 4rem rgba($melon, .75);
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;

    img {
      height: auto;
      width: 8rem;

      @media #{$mq-s} {
        width: 8rem;
      }

      @media #{$mq-m} {
        width: 10rem;
      }

      @media #{$mq-l} {
        width: 12rem;
      }
    }

    span {
      margin-top: 2rem;
      text-align: center;
    }
  }

  &__image {
    @include animation-pan;
    background-image: url('../images/topography.png');
    background-size: cover;
    height: 150%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
