.page-contact {
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  @media #{$mq-l} {
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__section {
    padding: 2rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-l} {
      max-width: 32rem;
      width: 50%;
    }
  }
}
